.inicio-container {
	background-image: url('/assets/images/inicio.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.inicio-opacity {
    width: 100%;
	min-height: 100vh;
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	align-items: center;
	text-align: center;
	background: linear-gradient(rgba(0, 0, 0, 0.80), rgba(91, 93, 97, 0.40));
}
.section-inicio {
	padding: 1rem 2rem;
}
.inicio-content {
	font-family: var(--font-family);
	font-style: italic;
	color: var(--white-color);
	& .inicio-title {
		font-size: 12vw;
		color: var(--second-color)
	}
	& .inicio-subtitle {
		font-size: 12vw;
		color: var(--second-color);
	}
	& .text-service {
		font-size: 4vw;
	}
	& .inicio-logo {
		width: 5rem;
		border-radius: 50%;
	}
	& .inicio-description {
		font-size: 4vw;
	}
}

@media screen and (min-width: 1024px) {
	.section-inicio {
		padding: 2rem 30rem;
	}
	.inicio-content {
		& .inicio-title {
			font-size: 5vw;
		}
		& .inicio-subtitle {
			font-size: 6vw;
		}
		& .text-service {
			font-size: 1.5vw;;
		}
		& .inicio-logo {
			width: 20rem;
			border-radius: 50%;
		}
		& .inicio-description {
			font-size: 1.5vw;
		}
	}
}
