.footer {
	margin-bottom: var(--header-height);
	padding: 0.5rem;
	text-align: center;
	color: var(--white-alpha-color);
	background-color: var(--gray-dark-color);
    font-style: italic;
}

.link {
	color: #533070;
	font-family: sans-serif;
	font-weight: 600;
}


@media screen and (min-width: 1024px) {
	.footer {
		margin-bottom: 0;
	}
}
