@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200;1,500&display=swap');

:root {
	--first-color: #436d00;
	--first-alpha-color: #436d0070;
	--second-color: #c58855;
	--second-alpha-color: #c5885570;
	--third-color: #7a8165;
	--third-alpha-color: #7a816570;

	--white-color: #fff;
	--white-alpha-color: rgba(255, 255, 255, 0.5);

	--black-color: #000;
	--black-alpha-color: rgba(0, 0, 0, 0.5);

	--gray-color: #ccc;
	--gray-light-color: #f3f3f3;
	--gray-dark-color: #666;

	--link-color: #509ee3;

	--title-color: #333;

	--text-color: #222;

	--font-family: 'Raleway', sans-serif;

	--max-width: 1200px;
	--header-height: 3.5rem;
}

/* ********** Reset ********** */
html {
	box-sizing: border-box;
	font-family: var(--font-family);
	font-size: 16px;
	scroll-behavior: smooth;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	margin: 0;
	overflow-x: hidden;
	color: var(--text-color);
}

a {
	color: var(--link-color);
	transition: all 0.5s ease-out;
}

a:hover {
	opacity: 0.75;
}

h1 {
	margin: 0;
	font-size: 2rem;
}

h2 {
	margin: 0;
	font-size: 1.5rem;
}

h3 {
	margin: 0;
	font-size: 1.25rem;
}

h4 {
	margin: 0;
	font-size: 1rem;
}

h5 {
	margin: 0;
	font-size: 0.85rem;
}

h6 {
	margin: 0;
	font-size: 0.7rem;
}

img {
	max-width: 100%;
	height: auto;
}

p {
	line-height: 1.6;
}

/* ********** Utilitarios ********** */
::-webkit-scrollbar {
	width: 0;
}
::-webkit-scrollbar-track {
	background: var(--backgroundColor);
}
::-webkit-scrollbar-thumb {
	background: var(--backgroundColor);
}

.bg-gray-light {
	background-color: var(--gray-light-color);
}

.box-shadow-1 {
	box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.btn {
	border-radius: 0.5rem;
	padding: 1rem;
	display: inline-block;
	width: 200px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: var(--white-color);
	background-color: var(--first-color);
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--max-width);
}
.gray-scale {
	filter: grayscale(1);
}

.none {
	display: none;
}

.section {
	padding: 2rem 1rem;
}

.section-title {
	border-top: thin solid var(--first-color);
	border-bottom: thin solid var(--first-color);
	margin: 2rem auto;
	padding: 0.5rem 1rem;
	width: 250px;
	text-align: center;
	color: var(--title-color);
}

.text-first-color {
	color: var(--first-color);
}
.text-second-color{
    color:var(--second-color)
}
.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

@media screen and (min-width: 1024px) {
	.full-lg-screen {
		width: 100%;
		min-height: 100vh;
	}

	.text-lg-center {
		text-align: center;
	}

	.text-lg-left {
		text-align: left;
	}

	.text-lg-right {
		text-align: right;
	}
}
